<a href="https://colab.research.google.com/github/LakhiCharanMahato/PythonTraining/blob/main/Day2/Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Find the largest element of a python list and also find it’s index.

In [ ]:
a=[1,2,30,5,9,100,51,49]
m=max(a)


ind=a.index(m)
print(m,ind)

100 5

#2. Concatenate 2 lists index-wise
	    A=[“M”, “na”, “i”, “La”]
	    B=[“y”, “me”, “s”, “khi”]

In [ ]:
A=["M", "na", "i", "La"]
B=["y", "me", "s", "khi"]

C=[i+j for i,j in zip(A,B)]
C

['My', 'name', 'is', 'Lakhi']

#3. Remove all occurences of a specific item from a list
	    A=[2,10,2,5,8,2,13]
	    C=2
	    Output: [10,5,8,13]

In [ ]:
A=[2,10,2,5,8,2,13]
C=2

In [ ]:
## Method 1

while True:
  try:
    A.remove(C)
    print(A)
  except ValueError:
    break
print(A)

[10, 2, 5, 8, 2, 13]
[10, 5, 8, 2, 13]
[10, 5, 8, 13]
[10, 5, 8, 13]

In [ ]:
## Method 2
A=[2,10,2,5,8,2,13]
C=2
D=[i for i in A if i!=C]
D

[10, 5, 8, 13]

In [ ]:
## Method 3
A=[2,10,2,5,8,2,13]
C=2
D=filter(lambda x:x!=C,A)
print(D)
E=list(D)
print(E)

<filter object at 0x7fd3447d2150>
[10, 5, 8, 13]

#4. Replace the first occurence of a number from a Python list
	A=[5,10,15,20,25,50,20]
	C=20
	R=200
	Output: [5,10,15,200,25,50,20]

In [ ]:
A=[5,10,15,20,25,50,20]
C=20
R=200
print(A.index(C))
A[A.index(C)]=R
A

3

[5, 10, 15, 200, 25, 50, 20]

#5. Write a program to remove 0.th, 4.th, 5.th elements from a python list with atleast 8 elements.

In [ ]:
A=[2,5,7,11,13,17,19,23,31]
B=[0,1,2,3 ,4 ,5 ,6 ,7 ,8 ]


R=[0,4,5]
length=len(A)
C=[A[i] for i in range(length) if i not in R]
C

[5, 7, 11, 19, 23, 31]

#1. What is the output of:-
	T1=(1,2,3)
	print(T1*3)

In [ ]:
T1=(1,2,3)
print(T1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#2. Write a program to remove an item from a python tuple

In [ ]:
A=(1,5,7,4,11,3)
R=5

B=list(A)
B.remove(R)
A=tuple(B)
A

(1, 7, 4, 11, 3)

#3. Write a program to add an element to a tuple at a given index

In [ ]:
A=(1,5,7,4,11,3)
I=5
Ele=100

B=list(A)
B.insert(I,Ele)
A=tuple(B)
A

(1, 5, 7, 4, 11, 100, 3)

#4. Convert a python string to a tuple:-
	S= “Lakhi”
	Output: (“L”, “a”, “k”, “h”, “i”)

In [ ]:
S="Lakhi"

L=tuple(S)
print(L)

('L', 'a', 'k', 'h', 'i')

#1. Add a list to a set

In [ ]:
A=[1,2,3]
B=set()
B.update(A)
B

{1, 2, 3}

#2. Get unique elements from 2 sets

In [ ]:
A={1,2,3}
B={3,4,5,6}
A.union(B)

{1, 2, 3, 4, 5, 6}

#3. Return set of elements in A but not in B

In [ ]:
A={1,2,3}
B={3,4,5,6}
A.difference(B)

{1, 2}

#4. Check if 2 sets have any elements in common. If yes display elements

In [ ]:
A={1,2,3}
B={3,4,5,6}
if A.isdisjoint(B):
  print("No elements common")
else:
  print(A.intersection(B))

{3}

#5. Update A with elements of B except common items.

In [ ]:
A={1,2,3}
B={3,4,5,6}

A.symmetric_difference_update(B)
A

{1, 2, 4, 5, 6}

#6. Remove items in A not in B

In [ ]:
A={1,2,3}
B={3,4,5,6}

A.difference_update(B)
A

{1, 2}

#1.Print marks in history
A={“class”:{
		“student”:{
			“name”: “Mike”,
		“marks:{
			“physics”:70,
			“history”:80
			}
			}		
		}
	}

In [ ]:
A={"class":{
		"student":{
			"name": "Mike",
		  "marks":{
			    "physics":70,
			    "history":80
			        }
			  }		
		}
}

A["class"]["student"]["marks"]["history"]

80

In [ ]:
Physics=[10,20,30,40]
History=[100,99,90,36]
Names=["Mike","Josh","Robert","Elena"]

In [ ]:
length=len(Physics)

A={}
A["physics"]=Physics
A["history"]=History
print(A)

B={"name":Names}
print(B)

B["marks"]=A
print(B)


C={}
C["student"]=B
print(C)

D={}
D["class"]=C
D

{'physics': [10, 20, 30, 40], 'history': [100, 99, 90, 36]}
{'name': ['Mike', 'Josh', 'Robert', 'Elena']}
{'name': ['Mike', 'Josh', 'Robert', 'Elena'], 'marks': {'physics': [10, 20, 30, 40], 'history': [100, 99, 90, 36]}}
{'student': {'name': ['Mike', 'Josh', 'Robert', 'Elena'], 'marks': {'physics': [10, 20, 30, 40], 'history': [100, 99, 90, 36]}}}

{'class': {'student': {'marks': {'history': [100, 99, 90, 36],
    'physics': [10, 20, 30, 40]},
   'name': ['Mike', 'Josh', 'Robert', 'Elena']}}}